/* Basic styling for your portfolio website */
h2{
    color: blueviolet
}
body {
    font-family: Arial, sans-serif;
    margin: 0.0;
    padding: 1.5;
}

header {
    text-align: center;
    background-color: #d2cece;
    color: #100f0f;
    padding: 30px;
}

h1 {
    margin: 0.5;
}

nav {
    background-color: #1d1d1d;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin: 20px;
}

a {
    color: #f4e2e2;
    text-decoration: crimson;
}

section {
    padding: 10px;
}

.project {
    border: 1px solid #a39e9e;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}